{%  extends "layoutBS.html" %}

{% block content %}
<div class="container-fluid bg-secondary text-light pt-4 pb-4">
    <center>
        <h1 class="display-3">About Us</h1>
    </center>
</div>

<div class="row justify-content-center pt-4 pb-4 ps-4 pe-4 gy-4">
    <div class="col-md col-xl-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-4">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Jiebin Liang</h5>
                        <p class="card-text">A first-year Engineering student at Rutgers University</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row g-0">
                <div class="col-sm-4">
                    <img src="..." class="card-img-top" alt="...">
                </div>
                <div class="col-sm">
                    <div class="card-body">
                        <h5 class="card-title">Anshul Mittal</h5>
                        <p class="card-text">A first-year Computer Science major at Georgia Institute of Technology</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
        <p>This began as a project for our Engineering Research class at Manalapan High School, under the Science and Engineering Magnet Program. After we graduated, we decided to continue expanding upon the idea and create a fully functional website.</p>

        <p>The purpose of our application is to allow NBA fans to view the predicted result of NBA games, using both real and fictional rosters. Something here add</p>
    </div>
</div>

{% endblock content %}