{%  extends "layout.html" %}

{% block content %}

<div id="hero" class="bg-image bg-dark text-light" style= "background-image: url('/static/NBA_banner.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center 37%; height: 25vh; max-width: 100vw;
  max-height: 100vh;">
    <div class="row mask pt-4 pb-4 h-100 align-items-center" style="background: linear-gradient(rgb(33 37 41), rgba(0, 0, 0, 0.6) 40%); margin: auto;">
        <center>
            <h1 class="display-3">About Us</h1>
        </center>
    </div>
</div>

<div class="row bg-light justify-content-center" style="margin: auto;">
    <div class="col-11 col-lg-8 pt-4 pb-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><b>Data Collection</b></h5>
                <p>The dataset used was collected from stats.nba.com, the official NBA statistics website. Each game from seasons 2016-2020 were analyzed and logged by our program through the use of web requests. For every game, the two teams playing were analyzed using the stats of the eight players with the most minutes played from each team.</p>
                <p>We collected the following thirteen statistics from each player:</p>
                <ul>
                    <li>Points scored</li>
                    <li>Free throws made</li>
                    <li>Free throws attempted</li>
                    <li>Field goals made</li>
                    <li>Field goals attempted</li>
                    <li>Three-pointers made</li>
                    <li>Three-pointers attempted</li>
                    <li>Assists</li>
                    <li>Turnovers</li>
                    <li>Steals</li>
                    <li>Blocks</li>
                    <li>Offensive rebounds</li>
                    <li>Defensive rebounds</li>
                    <li>Personal fouls</li>
                </ul>
                <p>We scaled the statistics of each player to the predicted minutes played to represent the expected production of the players given the quality of their teammates. While this is not necessary when analyzing real rosters, it is necessary to balance the performance of the players when predicting games between fictional rosters due to the limited playtime available for the players (e.g., a team consisting of eight Lebron James&rsquo;s would not be expected to average over 240+ points simply due to playtime restrictions).</p>

                <p>The individual statistics for each teams&rsquo; eight players were used to generate the thirteen team statistics.</p>

                <p>The team statistics are as follows:</p>
                <ul>
                    <li>Total points scored</li>
                    <li>True shooting percentage</li>
                    <li>Total free throws attempted</li>
                    <li>Free throw percentage</li>
                    <li>Total three-pointers attempted</li>
                    <li>Three-point percentage</li>
                    <li>Total assists</li>
                    <li>Total turnovers</li>
                    <li>Total offensive rebounds</li>
                    <li>Total defensive rebounds</li>
                    <li>Total steals</li>
                    <li>Total blocks</li>
                    <li>Total personal fouls</li>
                </ul>

                <p>Thus, a total 26 statistics are collected for each game, 13 for each team.</p>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><b>Creating the Model</b></h5>
                <p>Using the sklearn python package, we created a logistic regression model that would predict the outcome of an NBA game. Of the five seasons of data we had collected, 80% was used to train the model, and a random 20% was selected for validation. After tuning the hyperparameters for the model, we were able to reach an accuracy of about 65%, which is sufficient given the randomness of NBA games and the limited scope of information available to the model. We hope to continue improving upon the quality and accuracy of our model in the future.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><b>Creating the Web Application</b></h5>
                <p>We used the Flask python package to develop our web application, and the WTForms Python package to create the form for entering the players on each team. HTML, CSS, and Javascript code was used to design the rest of the website and its functionality.</p>
            </div>
        </div>
    </div>
    <div class="col-11 col-lg-3 pt-4 pb-4">
        <div class="position-sticky" style="top: 5rem;">
            <div class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="/static/jiebin.jpeg" class="card-img-top h-100" style="object-fit:cover">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Jiebin Liang</h5>
                            <p class="card-text">A first-year Engineering student at Rutgers University</p>
                            <a href="https://www.linkedin.com/in/jiebin-liang-b8a38a1ab/" class="btn btn-primary px-1 py-1" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" fill="white"/></svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="/static/anshul.jpg" class="card-img-top h-100" style="object-fit:cover">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">Anshul Mittal</h5>
                            <p class="card-text">A first-year Computer Science major at Georgia Institute of Technology</p>
                            <a href="https://www.linkedin.com/in/anshul-mittal-3272641b3/" class="btn btn-primary px-1 py-1" target="_blank" rel="noopener noreferrer"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z" fill="white"/></svg></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p>This began as a project for our Engineering Research class at Manalapan High School, under the Science and Engineering Magnet Program. After we graduated, we decided to continue expanding upon the idea and create a fully functional website.</p>

                    <p>The purpose of our application is to allow NBA fans to view the predicted result of NBA games, using both real and fictional rosters.
                    <p>We envision most of our users using our application for one of two reasons:
                        <ol type="1">
                          <li>To unite players from around the NBA to see if their hypothetical lineup would win, either against a real NBA team or another made-up squad</li>
                          <li>To predict the winner of the NBA Finals using each team's playoff roster</li>
                        </ol>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}