{%  extends "layoutBS.html" %}

{% block content %}

{% macro render_field(field) %}
    {{ field }}
    {% if field.errors %}
        {% for error in field.errors %}
            <br><small id="error" class="form-text text-danger ">
                {{ error }}
            </small>
        {% endfor %}
    {% endif %}
{% endmacro %}

<div class="container-fluid bg-secondary text-light pt-4 pb-4">
  <center>
    <h1 class="display-3">Predict</h1>
  </center>
</div>
<div class="container-fluid bg-light min-h-100 pt-4">
  <div class="card mx-auto my-auto w-75">
    <div class="card-body">
      <center>
        See how your favorite team stacks up against their opponents in an upcoming game, or check out how a recent trade affects your team’s chances of winning!
      </center>
    </div>
  </div>
  <form id="form" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="row pt-4 pb-4 text-center">
        <h3>Select a Season: {{ form.season }}</h3>
    </div>
    <div class="row justify-content-center pt-2 pb-2">
      <div class="col-xxl-5 col-lg-6 col-xs-12 text-center">
        <div class="row justify-content-center">
          <div class="col-6 align-self-center">
              <h2>Home Team</h2>
              <h3>Autofill: {{ form.home_team }} </h3>
          </div>
          <div class="col-6 align-self-center">
              {% for home_player in form.home_players %}
                <h3>{{ loop.index }}. {{ render_field(home_player.player) }}</h3>
              {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-xxl-5 col-lg-6 col-xs-12 text-center">
        <div class="row justify-content-center">
          <div class="col-6 align-self-center">
              {% for away_player in form.away_players %}
                <h3>{{ loop.index }}. {{ render_field(away_player.player) }}</h3>
              {% endfor %}
          </div>
          <div class="col-6 align-self-center">
              <h2>Away Team</h2>
              <h3>Autofill: {{ form.away_team }} </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3 text-center">
        <button name="clear_home" type="button" class="btn btn-secondary">Clear Home Team</button>
        <button name="swap_teams" type="button" class="btn btn-secondary">Swap Teams</button>
        <button name="clear_away" type="button" class="btn btn-secondary">Clear Away Team</button>
    </div>
    <div class="container pt-3 pb-4 text-center">
        <button name="submit" type="submit" class="btn btn-primary btn-lg">Predict!</button>
    </div>
  </form>
  <div id="prediction" class="container pb-3 text-center">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
      {% endwith %}
  </div>
</div>
<script>
const [,season_field, home_team_field, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_team_field, clear_home_button, swap_teams_button, clear_away_button, submit_button] = document.getElementById("form").elements;
const form_elements = [season_field, home_team_field, home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8, away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8, away_team_field, clear_home_button, swap_teams_button, clear_away_button, submit_button];
const home_player_fields = [home_player_1, home_player_2, home_player_3, home_player_4, home_player_5, home_player_6, home_player_7, home_player_8];
const away_player_fields = [away_player_1, away_player_2, away_player_3, away_player_4, away_player_5, away_player_6, away_player_7, away_player_8];
const prediction_container = document.getElementById("prediction");

function update_seasonHTML(selected_season, season_field) {
    let season_optionHTML = "<option value=Default>Select Season</option>";
    for (let i = 2017; i < 2022; i++) {
        if (i.toString() == selected_season) {
            season_optionHTML += "<option value=" + i.toString() + " selected>" + (i - 1).toString() + "-" + i.toString() + "</option>";
        }
        else{
            season_optionHTML += "<option value=" + i.toString() + ">" + (i - 1).toString() + "-" + i.toString() + "</option>";
        }
    }
    season_field.innerHTML = season_optionHTML;
}
function update_playerHTML(selected_season, selected_player, player_field) {
    let player_optionHTML = "";
    if (selected_season == "Default") {
        player_optionHTML += "<option value=Default>Select Player</option>";
        player_field.innerHTML = player_optionHTML;
    }
    else{
        fetch("/playerlist/" + selected_season).then(function(response) {
            response.json().then(function(data) {
                player_optionHTML += "<option value=Default>Select Player</option>";
                for(let player of data.players) {
                    if (player.playerID.toString() == selected_player) {
                        player_optionHTML += "<option value=" + player.playerID.toString() + " selected>" + player.name.toString() + "</option>";
                    }
                    else{
                        player_optionHTML += "<option value=" + player.playerID.toString() + ">" + player.name.toString() + "</option>";
                    }
                }
                player_field.innerHTML = player_optionHTML;
            });
        });
    }
}
function update_teamHTML(selected_season, selected_team, team_field) {
    let team_optionHTML = "";
    if (selected_season == "Default") {
        team_optionHTML += "<option value=Default>No Team Selected</option>";
        team_field.innerHTML = team_optionHTML;
    }
    else{
        fetch("/teamlist/" + selected_season).then(function(response) {
            response.json().then(function(data) {
                team_optionHTML += "<option value=Default>No Team Selected</option>";
                for(let team of data.teams) {
                    if (team.teamID.toString() == selected_team) {
                        team_optionHTML += "<option value=" + team.teamID.toString() + " selected>" + team.name.toString() + "</option>";
                    }
                    else{
                        team_optionHTML += "<option value=" + team.teamID.toString() + ">" + team.name.toString() + "</option>";
                    }
                }
                team_field.innerHTML = team_optionHTML;
            });
        });
    }
}
function season_change() {
    season_field.onchange = function() {
        prediction_container.innerHTML = "";
        sessionStorage.clear();
        let selected_season = season_field.value;
        sessionStorage.setItem(season_field.name, selected_season);

        update_teamHTML(selected_season, "Default", home_team_field);
        update_teamHTML(selected_season, "Default", away_team_field);

        for (let player_field of home_player_fields) {
            update_playerHTML(selected_season, "Default", player_field);
        }
        for (let player_field of away_player_fields) {
            update_playerHTML(selected_season, "Default", player_field);
        }
    };
}
function team_change() {
    home_team_field.onchange = function() {
        for(let element of form_elements) {
            element.disabled = true;
        }
        prediction_container.innerHTML = "";
        let selected_team = home_team_field.value;
        sessionStorage.setItem(home_team_field.name, selected_team);

        fetch("/autofill/" + season_field.value + "/" + selected_team).then(function(response) {
            response.json().then(function(data) {
                for (let i = 0; i < home_player_fields.length; i++) {
                    let autofill_player = data.players[i].playerID;
                    sessionStorage.setItem(home_player_fields[i].name, autofill_player);
                    update_playerHTML(season_field.value, autofill_player, home_player_fields[i]);
                }
            });
        });
        setTimeout(function() {
            for(let element of form_elements) {
                element.disabled = false;
            }
        }, 1000);
    };
    away_team_field.onchange = function() {
        for(let element of form_elements) {
            element.disabled = true;
        }
        prediction_container.innerHTML = "";
        let selected_team = away_team_field.value;
        sessionStorage.setItem(away_team_field.name, selected_team);

        fetch("/autofill/" + season_field.value + "/" + selected_team).then(function(response) {
            response.json().then(function(data) {
                for (let i = 0; i < away_player_fields.length; i++) {
                    let autofill_player = data.players[i].playerID;
                    sessionStorage.setItem(away_player_fields[i].name, autofill_player);
                    update_playerHTML(season_field.value, autofill_player, away_player_fields[i]);
                }
            });
        });
        setTimeout(function() {
            for(let element of form_elements) {
                element.disabled = false;
            }
        }, 1000);
    };
}
function player_change(player_field, team_field) {
    player_field.onchange = function(){
        prediction_container.innerHTML = "";
        sessionStorage.setItem(player_field.name, player_field.value);
        update_teamHTML(season_field.value, "Default", team_field);
    };
}
function swap_teams_button_handler() {
    document.addEventListener("DOMContentLoaded", function() {
        swap_teams_button.addEventListener("click", function(event) {
            event.preventDefault();
            prediction_container.innerHTML = "";
            for(let element of form_elements) {
                element.disabled = true;
            }

            let new_home_team = "Default";
            if (sessionStorage[away_team_field.name]) {
                new_home_team = sessionStorage.getItem(away_team_field.name);
            }
            sessionStorage.setItem(home_team_field.name, new_home_team);
            update_teamHTML(season_field.value, new_home_team, home_team_field);

            let new_away_team = "Default";
            if (sessionStorage[home_team_field.name]) {
                new_away_team = sessionStorage.getItem(home_team_field.name);
            }
            sessionStorage.setItem(away_team_field.name, new_away_team);
            update_teamHTML(season_field.value, new_away_team, away_team_field);

            for (let i = 0; i < 8; i++) {
                let new_home_player = "Default";
                if (sessionStorage[away_player_fields[i].name]) {
                    new_home_player = sessionStorage.getItem(away_player_fields[i].name);
                }
                sessionStorage.setItem(home_player_fields[i].name, new_home_player);
                update_playerHTML(season_field.value, new_home_player, home_player_fields[i]);

                let new_away_player = "Default";
                if (sessionStorage[home_player_fields[i].name]) {
                    new_away_player = sessionStorage.getItem(home_player_fields[i].name);
                }
                sessionStorage.setItem(away_player_fields[i].name, new_away_player);
                update_playerHTML(season_field.value, new_away_player, away_player_fields[i]);
            }
            setTimeout(function() {
                for(let element of form_elements) {
                    element.disabled = false;
                }
            }, 1000);
        });
    });
}
function clear_team_button_handler() {
    document.addEventListener("DOMContentLoaded", function() {
        clear_home_button.addEventListener("click", function(event) {
            event.preventDefault();
            prediction_container.innerHTML = "";
            update_teamHTML(season_field.value, "Default", home_team_field);
            sessionStorage.removeItem(home_team_field.name);
            for (let player_field of home_player_fields) {
                update_playerHTML(season_field.value, "Default", player_field);
                sessionStorage.removeItem(player_field.name);
            }
        });
        clear_away_button.addEventListener("click", function(event) {
            event.preventDefault();
            prediction_container.innerHTML = "";
            update_teamHTML(season_field.value, "Default", away_team_field);
            sessionStorage.removeItem(away_team_field.name);
            for (let player_field of away_player_fields) {
                update_playerHTML(season_field.value, "Default", player_field);
                sessionStorage.removeItem(player_field.name);
            }
        });
    });
}
function submit_button_handler() {
    document.addEventListener("DOMContentLoaded", function() {
        submit_button.addEventListener("click", function(event) {
            prediction_container.style.display = "block";
        });
    });
}
function load_last_matchup() {
    if (sessionStorage[season_field.name]) {
        let load_season = sessionStorage.getItem(season_field.name);
        update_seasonHTML(load_season, season_field);

        let load_home_team = "Default";
        if (sessionStorage[home_team_field.name]) {
            load_home_team = sessionStorage.getItem(home_team_field.name);
        }
        update_teamHTML(load_season, load_home_team, home_team_field);

        let load_away_team = "Default";
        if (sessionStorage[away_team_field.name]) {
            load_away_team = sessionStorage.getItem(away_team_field.name);
        }
        update_teamHTML(load_season, load_away_team, away_team_field);

        for (let player_field of home_player_fields) {
            let load_home_player = "Default";
            if (sessionStorage[player_field.name]) {
                load_home_player = sessionStorage.getItem(player_field.name);
            }
            update_playerHTML(load_season, load_home_player, player_field);
        }
        for (let player_field of away_player_fields) {
            let load_away_player = "Default";
            if (sessionStorage[player_field.name]) {
                load_away_player = sessionStorage.getItem(player_field.name);
            }
            update_playerHTML(load_season, load_away_player, player_field);
        }
    }
}
function page_reload(){
    window.addEventListener("load", function(){
        for(let element of form_elements) {
            element.disabled = true;
        }
        load_last_matchup();
        setTimeout(function() {
            for(let element of form_elements) {
                element.disabled = false;
            }
        }, 1000);
    });
}
season_change();
team_change();
for (let player_field of home_player_fields) {
    player_change(player_field, home_team_field);
}
for (let player_field of away_player_fields) {
    player_change(player_field, away_team_field);
}
swap_teams_button_handler();
clear_team_button_handler();
submit_button_handler();
page_reload();
</script>
{% endblock content %}
