{%  extends "layoutBS.html" %}

{% block content %}
<div class="subheading">
    <ul>
        <h2>
            <li>Enter 8 players on the home team and the away team</li>
            <li>Use the Autofill dropdown to automatically fill in the 8 players that averaged the most minutes that season (minimum 5 games played).</li>
            <li>Players are assigned to the teams they were on at the end of the season. </li>
        </h2>
    </ul>
    <a href="about" class="buttons"><button>Background/About Us</button></a>
</div>
{% endblock content %}
