{%  extends "layoutBS.html" %}

{% block content %}

<div id="hero" class="bg-image" style= "background-image: url('/static/NBA_background.png')">
  <div class="mask" style="background: linear-gradient(rgb(33 37 41), rgba(0, 0, 0, 0.5) 40%);">
    <div class="row justify-content-center min-vh-100">
      <div class="col-10 col-md-8 my-auto text-light">
        <center>
          <h1 class="display-1">Welcome to <strong>NBA Predict</strong></h1>
          <h2><small>Enter two teams, either real or completely random, to see our model’s prediction for which team would win an NBA game!</small></h2>
          <a href="#body" class="btn btn-primary mt-3">Get Started</a>
        </center>
      </div>
    </div>
  </div>
</div>

<div id="body" class="container-fluid overflow-hidden">
  <div class="row justify-content-center bg-light pt-5 pb-5 gy-5">
    <div class="col-sm col-xxl-4 align-self-center">
      <center>
        <h1>Using the Predictor</h1>
        <div class="d-none d-sm-block">
          <a href="form" class="btn btn-primary" style="margin-top: 5px;">Predict</a>
        </div>
      </center>
    </div>
    <div class="col-sm col-xxl-4">
      <div class="accordion" id="instructions">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Select a Season
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#instructions">
            <div class="accordion-body">
              Choose which season's players and stats you would like to use.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Enter the Players
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#instructions">
            <div class="accordion-body">
              Enter any 8 players on each team OR use the autofill dropdown to automatically fill in the players from the selected team.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Predict the Game
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#instructions">
            <div class="accordion-body">
              Click predict to see the likelihood that the home team wins.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapsFour">
              Repeat!
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#instructions">
            <div class="accordion-body">
              Edit the teams or swap home/away and predict again.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm col-xxl-4 d-sm-none align-self-center">
      <center>
        <a href="form" class="btn btn-primary" style="margin-top: 5px;">Predict</a>
      </center>
    </div>
  </div>
  <div class="row justify-content-center pt-5 pb-5 text-light bg-dark">
    <div class="col-sm col-xxl-4 align-self-center">
      <img src="/static/bracket.png" class="img-fluid rounded mx-auto d-block" alt="...">
      <center>
        <h5>2021 NBA Season Prediction</h5>
      </center>
    </div>
    <div class="col-sm col-xxl-4 align-self-center">
      <div class="row mt-2 mb-2">
        <h1><center>About</center></h1>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card bg-dark">
            <div class="card-body">
              <h5 class="card-title">Our Model</h5>
              <p class="card-text">See the process by which we collected our data and trained our machine learning model.</p>
              <a href="model" class="btn btn-primary" style="margin-top: 5px;">Go</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card bg-dark">
            <div class="card-body">
              <h5 class="card-title">Who We Are</h5>
              <p class="card-text">Learn more about the creators behind this page.</p>
              <a href="about" class="btn btn-primary" style="margin-top: 5px;">Go</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}