<!DOCTYPE html>
<html>
<head>
    <title>NBA-Project - {{ title }}</title>
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
    {%  block error %}{%  endblock error %}
    <div class="container">
        <div class="heading">
            <h1>
                <center>Statistical Analysis and Prediction of the NBA</center>
            </h1>
        </div>
        {%  block content %}{%  endblock content %}
    </div>
</body>
</html>