{%  extends "layoutBS.html" %}

{% block content %}
<div class="container-fluid bg-secondary text-light pt-4 pb-4">
    <center>
        <h1 class="display-3">Our Model</h1>
    </center>
</div>

<div class="container-fluid bg-light pt-4 pb-4 ps-4 pe-4">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><b>Data Collection</b></h5>
            <p>The dataset used was collected from stats.nba.com, the official NBA statistics website. Each game from seasons 2016-2020 were analyzed and logged by our program through the use of web requests. For every game, the two teams playing were analyzed using the stats of the eight players with the most minutes played from each team.</p>
            <p>We collected the following thirteen statistics from each player:</p>
            <ul>
                <li>Points scored</li>
                <li>Free throws made</li>
                <li>Free throws attempted</li>
                <li>Field goals made</li>
                <li>Field goals attempted</li>
                <li>Three-pointers made</li>
                <li>Three-pointers attempted</li>
                <li>Assists</li>
                <li>Turnovers</li>
                <li>Steals</li>
                <li>Blocks</li>
                <li>Offensive rebounds</li>
                <li>Defensive rebounds</li>
                <li>Personal fouls</li>
            </ul>
            <p>We scaled the statistics of each player to the predicted minutes played to represent the expected production of the players given the quality of their teammates. While this is not necessary when analyzing real rosters, it is necessary to balance the performance of the players when predicting games between fictional rosters due to the limited playtime available for the players (e.g., a team consisting of eight Lebron James&rsquo;s would not be expected to average over 240+ points simply due to playtime restrictions).</p>

            <p>The individual statistics for each teams&rsquo; eight players were used to generate the thirteen team statistics.</p>

            <p>The team statistics are as follows:</p>
            <ul>
                <li>Total points scored</li>
                <li>True shooting percentage</li>
                <li>Total free throws attempted</li>
                <li>Free throw percentage</li>
                <li>Total three-pointers attempted</li>
                <li>Three-point percentage</li>
                <li>Total assists</li>
                <li>Total turnovers</li>
                <li>Total offensive rebounds</li>
                <li>Total defensive rebounds</li>
                <li>Total steals</li>
                <li>Total blocks</li>
                <li>Total personal fouls</li>
            </ul>

            <p>Thus, a total 26 statistics are collected for each game, 13 for each team.</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"><b>Creating the Model</b></h5>
            <p>Using the sklearn python package, we created a logistic regression model that would predict the outcome of an NBA game. Of the five seasons of data we had collected, 80% was used to train the model, and a random 20% was selected for validation. After tuning the hyperparameters for the model, we were able to reach an accuracy of about 65%, which is sufficient given the randomness of NBA games and the limited scope of information available to the model. We hope to continue improving upon the quality and accuracy of our model in the future.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><b>Creating the Web Application</b></h5>
            <p>We used the Flask python package to develop our web application, and the wtforms python package to create the form for entering the players on each team. HTML, CSS, and Javascript code was used to design the rest of the website and its functionality.</p>
        </div>
    </div>
</div>

{% endblock content %}