{%  extends "layout.html" %}

{% block error %}
<div class="container2" id="error_message">
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock error %}

{% block content %}
<div class = "subheading">
  <h2>
    Enter the players on the home team and the away team.
    <br>
    9 players for each team are required - you may enter up to 13.
    <br>
    Please enter the same number of players for both teams.
  </h2>
</div>

<form method="POST" action="">

  {{ form.hidden_tag() }}

  <div class="form">
    <div class="buttons">
      <button id="swap_teams_button">Swap Teams</button>
    </div>

    <div class="column">
      <h5><u><b>Home Team</b></u></h5>

      <div class = "partialform">
        {% for player in form.home_players %}
        <h3><b>{{ loop.index }}.</b> {{ player.year }} {{ player.player_name }}</h3>
        {% endfor %}
      </div>

      <div class="buttons">
        <button id="clear_home_team_button">Clear Home Team</button>
      </div>
    </div>

    <div class="column">
      <h5><u><b>Away Team</b></u></h5>

      <div class = "partialform">
        {% for player in form.away_players %}
        <h3><b>{{ loop.index }}.</b> {{ player.year }} {{ player.player_name }}</h3>
        {% endfor %}
      </div>

      <div class="buttons">
        <button id="clear_away_team_button">Clear Away Team</button>
      </div>
    </div>

    <div class="buttons" id="submit_button">
      {{ form.submit }}
    </div>

    {% if form.errors %}
      {{form.errors}}
    {% endif %}

  </div>

</form>

<div class="container3" id="prediction">
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<script>
	function delete_containers(){
		let error_container = document.getElementById('error_message');
		let prediction_container = document.getElementById('prediction');

		if (error_container != null){
			error_container.innerHTML = "";
		}
		if (prediction_container != null){
			prediction_container.innerHTML = "";
		}
	}
	function clear_team(team){
		for (let i = 0; i < 13; i++){
			let team_year_field_name = team + "_players-" + i + "-year";
			let team_player_field_name = team + "_players-" + i + "-player_name";

			let team_year_field = document.getElementById(team_year_field_name);
			let team_player_field = document.getElementById(team_player_field_name);

			update_yearHTML("Empty", team_year_field);
			sessionStorage.setItem(team_year_field_name, "Empty");
			update_playerHTML("Empty", "Empty", team_player_field);
			sessionStorage.setItem(team_player_field_name, "Empty");
		}
	}
	function update_yearHTML(selected_year, year_field){
		let year_optionHTML = "<option value=Empty>Empty</option>";
		for (let i = 1996; i < 2020; i++){
			if (i.toString() == selected_year){
				year_optionHTML += "<option value=" + i.toString() + " selected>" + i.toString() + "-" + (i + 1).toString() + "</option>";
			}
			else{
				year_optionHTML += "<option value=" + i.toString() + ">" + i.toString() + "-" + (i + 1).toString() + "</option>";
			}
		}
		year_field.innerHTML = year_optionHTML;
	}
	function update_playerHTML(selected_year, selected_player, player_field){
		if (selected_year == "Empty"){
			let player_optionHTML = "<option value=Empty>Empty</option>";
			player_field.innerHTML = player_optionHTML;
		}
		else{
			fetch("/update/" + selected_year).then(function(response){
				response.json().then(function(data){
					let player_optionHTML = "<option value=Empty>Empty</option>";
					for(let player of data.players){
						if (player.player_id.toString() == selected_player){
							player_optionHTML += "<option value=" + player.player_id.toString() + " selected>" + player.name.toString() + "</option>";
						}
						else{
							player_optionHTML += "<option value=" + player.player_id.toString() + ">" + player.name.toString() + "</option>";
						}
					}
					player_field.innerHTML = player_optionHTML;
				});
			});
		}
	}
	function playerlist_update(year_field_name, player_field_name){
		let year_field = document.getElementById(year_field_name);
		let player_field = document.getElementById(player_field_name);

		year_field.onchange = function(){
			delete_containers();

			let selected_year = year_field.value;
			sessionStorage.setItem(year_field_name, selected_year);
			update_playerHTML(selected_year, "Empty", player_field);
		}
		player_field.onchange = function(){
			delete_containers();

			let selected_player = player_field.value;
			sessionStorage.setItem(player_field_name, selected_player);
		}
		window.addEventListener("load", function(){
			if (sessionStorage[year_field_name]){
				let load_year = sessionStorage.getItem(year_field_name);
				update_yearHTML(load_year, year_field);
				let load_player = "Empty";
				if (sessionStorage[player_field_name]){
					load_player = sessionStorage.getItem(player_field_name);
				}
				update_playerHTML(load_year, load_player, player_field);
			}
		});
	}
	function swap_teams_button(){
		document.addEventListener("DOMContentLoaded", function(){
			swap_teams_button = document.getElementById("swap_teams_button");
			submit_button = document.getElementById("submit_button");
			swap_teams_button.addEventListener("click", function(event){
				event.preventDefault();
				submit_button.classList.add("disabled");
				swap_teams_button.classList.add("disabled");
				delete_containers();
				for (let i = 0; i < 13; i++){
					let home_year_field_name = "home_players-" + i + "-year";
					let home_player_field_name = "home_players-" + i + "-player_name";
					let away_year_field_name = "away_players-" + i + "-year";
					let away_player_field_name = "away_players-" + i + "-player_name";

					let home_year_field = document.getElementById(home_year_field_name);
					let home_player_field = document.getElementById(home_player_field_name);
					let away_year_field = document.getElementById(away_year_field_name);
					let away_player_field = document.getElementById(away_player_field_name);

					let load_away_year = "Empty";
					let load_away_player = "Empty";
					let load_home_year = "Empty";
					let load_home_player = "Empty";

					if (sessionStorage[home_year_field_name]){
						load_away_year = sessionStorage.getItem(home_year_field_name);
						if (sessionStorage[home_player_field_name]){
							load_away_player = sessionStorage.getItem(home_player_field_name);
						}
					}
					if (sessionStorage[away_year_field_name]){
						load_home_year = sessionStorage.getItem(away_year_field_name);
						if (sessionStorage[away_player_field_name]){
							load_home_player = sessionStorage.getItem(away_player_field_name);
						}
					}

					update_yearHTML(load_away_year, away_year_field);
					sessionStorage.setItem(away_year_field_name, load_away_year);
					update_playerHTML(load_away_year, load_away_player, away_player_field);
					sessionStorage.setItem(away_player_field_name, load_away_player);
					update_yearHTML(load_home_year, home_year_field);
					sessionStorage.setItem(home_year_field_name, load_home_year);
					update_playerHTML(load_home_year, load_home_player, home_player_field);
					sessionStorage.setItem(home_player_field_name, load_home_player);
				}
				window.setTimeout(function(){
					submit_button.classList.remove("disabled");
					swap_teams_button.classList.remove("disabled");
				}, 5000);
			});
		});
	}
	function clear_team_button(){
		document.addEventListener("DOMContentLoaded", function(){
			clear_home_team_button = document.getElementById("clear_home_team_button");
			clear_away_team_button = document.getElementById("clear_away_team_button");
			clear_home_team_button.addEventListener("click", function(event){
				event.preventDefault();
				delete_containers();
				clear_team("home");
			});
			clear_away_team_button.addEventListener("click", function(event){
				event.preventDefault();
				delete_containers();
				clear_team("away");
			});
		});
	}
	for (let i = 0; i < 13; i++){
		let home_year = "home_players-" + i + "-year";
		let home_player = "home_players-" + i + "-player_name";
		let away_year = "away_players-" + i + "-year";
		let away_player = "away_players-" + i + "-player_name";

		playerlist_update(home_year, home_player);
		playerlist_update(away_year, away_player);
	}
	swap_teams_button();
	clear_team_button();
</script>

{% endblock content %}