{%  extends "layout.html" %}

{% block error %}
<div class="container2" id="error_message">
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock error %}

{% block content %}
<div class = "subheading">
  <h2>
    Enter the players on the home team and the away team.
    <br>
    9 players for each team are required - you may enter up to 13.
    <br>
    Please enter the same number of players for both teams.
  </h2>
</div>

<form method="POST" action="">

  {{ form.hidden_tag() }}

  <div class="form">
    <div class="buttons">
      <button id="swap_teams_button">Swap Teams</button>
    </div>

    <div class="column">
      <h5><u><b>Home Team</b></u></h5>

      <div class = "partialform">
        {% for player in form.home_players %}
        <h3><b>{{ loop.index }}.</b> {{ player.year }} {{ player.player_name }}</h3>
        {% endfor %}
      </div>

      <div class="buttons">
        <button id="clear_home_team_button">Clear Home Team</button>
      </div>
    </div>

    <div class="column">
      <h5><u><b>Away Team</b></u></h5>

      <div class = "partialform">
        {% for player in form.away_players %}
        <h3><b>{{ loop.index }}.</b> {{ player.year }} {{ player.player_name }}</h3>
        {% endfor %}
      </div>

      <div class="buttons">
        <button id="clear_away_team_button">Clear Away Team</button>
      </div>
    </div>

    <div class="buttons" id="submit_button">
      {{ form.submit }}
    </div>

    {% if form.errors %}
      {{form.errors}}
    {% endif %}

  </div>

</form>

<div class="container3" id="prediction">
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

{% endblock content %}