{%  extends "layout.html" %}

{% block error %}
<div class="errorContainer" id="error_message">
  {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
{% endblock error %}

{% block content %}
<div class="subheading">
  <h2>
    Enter the 8 players on the home team and the away team.
  </h2>
</div>

<form method="POST" action="">

  {{ form.hidden_tag() }}

  <div class="form">

    <div class="seasonContainer">
      <h4>Season: </h4> {{ form.season }}
    </div>

    <div class="formRow">
      <div class="column left">
        <h5><u><b>Home Team</b></u></h5>

        <div class="partialform">
          {% for home_player in form.home_players %}
          <h3><b>{{ loop.index }}.</b> {{ home_player.player }}</h3>
          {% endfor %}
        </div>

        <div class="buttons">
          <button id="clear_home_team_button">Clear Home Team</button>
        </div>
      </div>

      <div class="column middle">
        <div class="button-wrapper">
           <div class="buttons">
             <button id="swap_teams_button">Swap Teams</button>
           </div>
        </div>
      </div>

      <div class="column right">
        <h5><u><b>Away Team</b></u></h5>

        <div class="partialform">
          {% for away_player in form.away_players %}
          <h3><b>{{ loop.index }}.</b> {{ away_player.player }}</h3>
          {% endfor %}
        </div>

        <div class="buttons">
          <button id="clear_away_team_button">Clear Away Team</button>
        </div>
      </div>
    </div>

    <div class="buttons" id="submit_button">
      {{ form.submit }}
    </div>

    {% if form.errors %}
      {{form.errors}}
    {% endif %}

  </div>

</form>

<div class="predictionContainer3" id="prediction">
  {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

{% endblock content %}